@import "../css/colors";

.box {
  border: 0.05rem solid $lines;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  margin: 0 2rem;
  height: calc(100% - 1rem);
  position: relative;

  hr {
    margin: 1rem 1rem;
    z-index: 2;
  }
  .delete:hover {
    text-shadow: 0 0 1rem $highlight-lines;
  }
  &-title {
    color: $highlight;
    margin-top: -1.65rem;
  }
  &-fade-out {
    &-top {
      background-image: linear-gradient(black, transparent);
      height: 2rem;
      position: absolute;
      top: 0;
      left: 0.5rem;
      right: 0.5rem;
      z-index: 1;
    }
    &-bottom {
      background-image: linear-gradient(transparent, black);
      height: 2rem;
      position: absolute;
      bottom: 0;
      left: 0.5rem;
      right: 0.5rem;
      z-index: 1;
    }
  }
  &-row {
    min-height: 30rem;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    & div {
      ul {
        width: 25rem;
      }
    }
    &-item hr {
      margin: 2rem 0;
    }
  }

  &-scrollable-right {
    overflow: auto;
    padding: 2rem 2rem 2rem 1rem;
    flex-grow: 1;
  }
  &-scrollable-left {
    padding: 2rem 2rem;
    overflow: auto;
  }
}
