@import "colors";
@import "alerts";

/* Global styles */
@mixin hover {
  cursor: pointer;
  color: $highlight;
  text-shadow: 0 0 0.005rem $highlight;
}

body {
  color: $color;
  background: $background;
  font-family: monospace, monospace;
  font-size: 1em;
  font-weight: 550;
  font-stretch: ultra-expanded;
  line-height: 1.6;
  width: 75rem;
  margin: auto;

  /* scrollbar Firefox */
  scrollbar-color: $lines $background;
  scrollbar-width: thin;

  /* scrollbar Webkit */
  ::-webkit-scrollbar {
    width: 0.5rem;
    background: $background;
    &-thumb {
      background: $lines;
    }
  }
}

#root {
  height: 100vh;
  display: flex;
  flex-flow: column;
  nav {
    height: 2rem;
  }
  section {
    height: calc(100% - 2rem);
  }
}

hr {
  color: $lines;
  border: none;
  background: $lines;
  min-width: 0.05rem;
  min-height: 0.05rem;
}

a {
  text-decoration: none;
  color: $color;
  &:hover {
    @include hover;
  }
}

nav {
  ul {
    display: flex;
    justify-content: space-around;
    li {
      display: inline;
    }
    .nav-active {
      text-decoration: underline;
    }
  }
}

.info-box {
  border: 1px solid $color-dark;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  &-title {
    font-size: 0.85rem;
    margin-top: -1.65rem;
    margin-bottom: 0.5rem;
    margin-left: -1px;
    background-color: $background;
    width: max-content;
    padding: 0 2px;
  }
  ul {
    margin-top: 0.5rem;
  }
  li {
    margin-left: 1rem;
  }
}

/* List item style */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* Forms */
select,
input {
  border: 0.12rem solid $highlight-lines;
  border-radius: 0.2rem;
  padding: 0.6rem;
  font-size: 1rem;
  margin: 0.2rem;
  background: $background;
  color: $color;
  line-height: inherit;
}

select {
  appearance: none;
}

input {
  &:focus {
    border-color: $hihighlight-lines;
    color: $highlight;
    outline: none;
  }
  &[type="submit"]:hover,
  &[type="button"]:hover {
    @include hover;
    border-color: $hihighlight-lines;
  }
  &[type="number"] {
    appearance: textfield;
  }
}

.appear-loading-box {
  opacity: 0;
  &-active {
    opacity: 1;
    transition: opacity 500ms;
  }
}
.loading-box {
  &-enter {
    opacity: 0;
    &-active {
      opacity: 1;
      transition: opacity 500ms;
    }
  }
  &-exit {
    opacity: 1;
    &-active {
      opacity: 0;
      transition: opacity 500ms;
    }
  }
}

.snackbox {
  background: red;
  color: black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem 2rem;
  font-weight: bold;
}
