/* Grabal styles */
$background: black;
$color: #00e000;
$highlight: #00ff00;
$lines: #590059;
$highlight-lines: #b200b2;

body {
  color: $color;
  background: $background;
  font-family: monospace, monospace;
  font-size: 1.2em;
  font-weight: 500;
  font-stretch: ultra-expanded;
  line-height: 1.6;
  width: 50rem;
  margin: auto;
}
hr {
  color: $lines;
}
a:hover {
  cursor: pointer;
  color: $highlight;
}
/* Alerts and form errors */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.box {
  border: 0.05rem solid $lines;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 2rem;
}

/* List item style */
ul {
  list-style-type: none;
  padding: 0;
}
.named-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid $lines;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  &:last-child {
    border: none;
  }
  .delete:hover {
    text-shadow: 0 0 1rem $highlight-lines;
  }
}
/* Froms */
select,
input {
  border: 0.12rem solid $lines;
  border-radius: 0.2rem;
  padding: 0.6rem;
  font-size: 1.1rem;
  margin: 0.2rem;
  background: $background;
  color: $color;
}

select {
  appearance: none;
}

input {
  &:focus {
    border-color: $highlight-lines;
    color: $highlight;
  }
  &[type="submit"]:hover,
  &[type="button"]:hover {
    cursor: pointer;
    color: $highlight;
    border-color: $highlight-lines;
  }
  &[type="number"] {
    appearance: textfield;
  }
}

.ingredient-form {
  display: grid;
  align-items: center;
  grid-column-gap: 0.75rem;
  & label {
    justify-self: end;
    grid-column: 1;
  }
  & input [type="text"] {
    grid-column-start: 2;
    grid-column-end: 4;
    justify-self: stretch;
    grid-column: 2;
  }
  & input[type="number"] {
    justify-self: start;
    max-width: 3rem;
  }

  & input[type="submit"] {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
  }
}

.recipe-name-form {
  padding: 2rem 0 1rem;
  & form {
    font-size: 1.1rem;
    display: flex;
    & input {
      flex-grow: 2;
      padding: 0.8rem;
    }
    & label {
      align-self: center;
      font-weight: bold;
    }
  }
  & div {
    margin: 0.1rem 0 1rem;
    & .loading-bar {
      background: $highlight-lines;
    }
  }
}

.recipe-ingredient-form {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  & input[type="number"] {
    max-width: 3rem;
  }
}
.recipe-ingredient-form-name {
  flex-grow: 2;
  border: 0.12rem solid $lines;
  border-radius: 0.2rem;
  padding: 0.6rem;
  font-size: 1.1rem;
  margin: 0.2rem;
  background: $background;
  color: $color;
}

.recipe-ingredient-form-saved {
  width: 3rem;
}

.recipe-ingredient-form-divider {
  margin: 1.5rem 0 1.5rem;
  border-top: 1px solid;
  border-bottom: none;
}
.recipe-ingredient-form-loading-bar {
  margin: 0.1rem 2.12rem 1rem;
  & .loading-bar {
    background: $highlight-lines;
  }
}
.recipe-form-no-ingredients {
  padding: 0 0;
  font-size: 0.9rem;
}
.recipe-form-box {
  display: flex;
  flex-direction: column;
}
.recipe-form-done {
  align-self: center;
}
.loading-bar {
  opacity: 1;
  background: $highlight;
  height: 1px;
}
.loading-bar-inactive {
  width: 0%;
}
.loading-bar-load {
  opacity: 0;
  width: 100%;
  transition: width 700ms, opacity 200ms ease 700ms;
}
