/* Grabal styles */
$background-color: black;
$foreground-color: rgb(213, 207, 197);
$lines: gray;
$glow: orange;

body {
  color: $foreground-color;
  background: $background-color;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.6;
  width: 50rem;
  margin: auto;
}
a:hover {
  cursor: pointer;
}
/* Alerts and form errors */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.box {
  border: 0.05rem solid #8080808f;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 2rem;
}

/* List item style */
ul {
  list-style-type: none;
  padding: 0;
}
.named-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid $lines;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  &:last-child {
    border: none;
  }
  .delete:hover {
    text-shadow: 0 0 1rem $glow;
  }
}
/* Froms */
select,
input {
  border: 0.12rem solid $lines;
  border-radius: 0.2rem;
  padding: 0.6rem;
  font-size: 1.1rem;
  margin: 0.2rem;
  background: $background-color;
  color: $foreground-color;
}

select {
  appearance: none;
}

input {
  &:focus {
    border-color: $foreground-color;
  }
  &[type="submit"]:hover,
  &[type="button"]:hover {
    cursor: pointer;
    border-color: $foreground-color;
  }
  &[type="number"] {
    appearance: textfield;
  }
}

form {
  padding: 2rem;
  display: grid;
  align-items: center;
  grid-column-gap: 0.75rem;
}

.ingredient-form {
  & label {
    justify-self: end;
    grid-column: 1;
  }
  & input [type="text"] {
    grid-column-start: 2;
    grid-column-end: 4;
    justify-self: stretch;
    grid-column: 2;
  }
  & input[type="number"] {
    justify-self: start;
    max-width: 3rem;
  }

  & input[type="submit"] {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
  }
}

.recipe-form {
  & input[type="submit"] {
    grid-column: 4;
    justify-self: stretch;
  }
}

.recipe-ingredient-form {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  & select {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  & input[type="number"] {
    justify-self: start;
    max-width: 3rem;
    grid-column: 3;
  }
  & input[type="submit"] {
    grid-column: 4;
    justify-self: stretch;
  }
}
